# Dependências
node_modules/
package-lock.json

# Arquivos de ambiente
.env

# Logs
*.log
logs/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporários
*.tmp
.cache/

